body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#card-container {
    text-align: center;
}

#card {
    border: 1px solid black;
    padding: 10px; /* Adjust padding */
    margin-top: 20px;
    width: 3.375in; /* Adjust width if necessary */
    height: 2.125in; /* Adjust height if necessary */
    background-color: white;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden; /* Add this to prevent content from spilling out */
}

#barcode {
    max-width: 100%; /* Ensures the barcode doesn't exceed the card width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px;
}


#barcodeNumber {
    margin-top: 5px;
    font-size: 12px;
}

#card p {
    margin: 4px 0; /* Reduce margin between text lines */
    font-size: 12px; /* Adjust font size */
}
